<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../includes/head.ejs',{title:"PolarTalk | Home",cssmodulepath:"groups/groups.modules.css"})%>
<body>
    <header>
        <%if(user){%>
            <%- include('../includes/navbar.ejs',{user:user})%>
        <%} else{%>
            <%- include('../includes/navbar.ejs',{user:false})%>
        <%}%>
    </header>
    <article>
        <% if (isMember) { %>
            <div class="content">
                <div class="lateral-container2">
                    <div class="msgs-divs">
                        <% group.messages.forEach(msg => { %>
                            <div class="msg-div">
                                <div class="msg-img"style="background-image:url('<%=msg.userimg%>');"> </div><br>
                                <div class="msg-info">
                                    <p class="msg-username"><%=msg.username%></p><br>
                                    <p class="msg"><%=msg.message%></p><br>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="message-sent-form-div">
                        <% if (permission=='RW' || permission=='*') { %>
                            <form class="message-sent-form" action="/messages" method="POST">
                                <div class="message-sent-user-img" style="background-image:url('<%=user.img%>');" ></div>
                                <input type="hidden" class="hidden" name="groupid" value="<%=group.info.id %>">
                                <input type="hidden" class="hidden" name="userid" value="<%=user.id%>">
                                <input type="text" class="form-input" name="txt" placeholder="Write a Message !">
                                <input type="submit" class="form-submit" value="">
                            </form>
                            
                        <% } else{%>
                            <p>Read-Only Permission</p>
                        <%}%>
                    </div>

                </div>
                <div class="lateral-container">
                    <div class="sidebar-group-info">
                        <div align="center">
                            <br>
                            <div style="background-image: url('<%=group.info.img%>');" class="group-img"></div>
                        </div>
                        <p class="group-name"><%=group.info.name%></p>
                        <div align="center">
                            <% if (user.id==group.info.adminid) { %>
                                <a href="/groups/<%=group.info.id%>/addMember">
                                    <div class="navbar-button">
                                        Add Users
                                    </div>
                                </a>
                                <br>
                                <a href="/solicitations/<%=group.info.id%>">
                                    <div class="navbar-button">
                                        Solicitations
                                    </div>
                                </a>
                            <% } else{%>
                                <a href="/groups/<%=group.info.id%>/rmMember/<%=user.id%>">
                                    <div class="navbar-button">
                                        Exit
                                    </div>
                                </a>
                            <%  } %>
                        
                        </div>
                        <br>
                    </div>

                    <div class="sidebar-group-members">
                        <h2 align=center>Members</h2>
                        <% group.members.forEach(member => { %>
                            <div class="group-member-div">
                                <div style="background-image: url('<%=member.userimg%>');" class="group-member-img"></div>
                                <% if (member.userid==group.info.adminid) { %>
                                    <p class="group-member-username owner"><%=member.username%></p>
                                <% } else{%>
                                    <p class="group-member-username member"><%=member.username%></p>
                                <% } %>
                                <p class="group-member-permission"><%=member.userpermissions%></p>
                                <% if (member.userid!=group.info.adminid) { %>
                                    <p class="group-member-username member"><a href="/groups/<%=group.info.id%>/rmMember/<%=member.userid%>">X</a></p>
                                <% } %>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        <% } else{%>
            <h2>You Don't Have Permission to access this group</h2>
            <h3>Send a request to access</h3>
            <div align="center">
                <form action="/solicitations" method="POST">
                    <input type="hidden" name="groupid" value="<%=group.info.id%>">
                    <input type="hidden" name="userid" value="<%=user.id%>">
                    <textarea name="txt" placeholder="Send a message to group admin" id="" cols="30" rows="10"></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>

            <% }%>
    </article>
</body>
</html>